@page
@model MyApp.Namespace.RoomsModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Rooms List";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Reservation System</h1><br/>
</div>

<h1>Room List</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewRoom.RoomId" class="control-label"></label>
        <input asp-for="NewRoom.RoomId" class="form-control" />
        <span asp-validation-for="NewRoom.RoomId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewRoom.RoomName" class="control-label"></label>
        <input asp-for="NewRoom.RoomName" class="form-control" />
        <span asp-validation-for="NewRoom.RoomName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewRoom.Capacity" class="control-label"></label>
        <input asp-for="NewRoom.Capacity" class="form-control" />
        <span asp-validation-for="NewRoom.Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<h1><br/></h1>
<h1>Room List</h1>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Room Id</th>
            <th scope="col">Room Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model.Rooms)
        {
            <tr>
                <td>@room.RoomId</td>
                <td>@room.RoomName</td>
                <td>@room.Capacity</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="roomId" value="@room.RoomId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<a href="/ViewRooms">View Rooms</a>